{% extends 'pannel/base.html' %}
{% block title %}Edit{% endblock %}



{% block body %}
        {% load static %}

      <div class="progressWrp">
          <div class="progressInn">
              <div class="progressImg">
                  <img src="{% static 'images/circles.svg' %}" alt="img-responsive" />
                  <p>Please Wait</p>
              </div>
          </div>
      </div>
{%  for i in p %}
    <div class="login-box">
    <div class="login-box-body" style="border-radius:6px;">


        <form id="login_form" method="POST" action="{% url 'edit_student'  i.std_id  %}" enctype="multipart/form-data" class="box">
                  <h1><a href="{% url 'edit_student' i.std_id %}">Edit Student</a></h1>
                  <p style="color:white" class="login-box-msg">Edit your student and save it.  </p>
                  <p style="color: red;" class="login-box-msg"><i>{{ error}}</i></p>


           {% csrf_token %}


                   <div class="form-group has-feedback">
                     <small>Name</small>
                       <input type="text" class="form-control input-field" name="name"  value="{{ i.name }}" />
                   </div>
                   <div class="form-group has-feedback">
                     <small>Roll No.</small>
                       <input type="text" class="form-control input-field" name="roll" value="{{ i.roll }}" />
                   </div>
                   <div class="form-group has-feedback">
                     <small>Phone</small>
                       <input type="text" class="form-control input-field" name="phone"  value="{{ i.phone }}"/>
                   </div>
                 <div class="form-group has-feedback">
                     <small>Age</small>
                       <input type="text" class="form-control input-field" name="age"  value="{{ i.age }}" />
                   </div>

                 <div class="form-group has-feedback">
                     <small>Address</small>
                     <textarea rows="7" class="form-control input-field" id="about" name="address" required >{{ i.address }}</textarea>
                   </div>



           <div class="row">
                <div class="col-md-6">
                    <input type="submit"  class="btn btn-primary btn-block btn-flat"  value="Save" style="border-radius:5px;background: #607D8B;"/>
                </div><!-- /.col -->
                <div class="col-md-6">
                    <a href="{% url 'view' %}" class="btn btn-danger btn-block btn-flat"> cancel   </a>
                </div><!-- /.col -->
            </div>

        </form>



{% endfor %}
</div><!-- /.login-box-body -->
    </div><!-- /.login-box -->

{% endblock %}
