{% extends 'pannel/base.html' %}

{% block title  %} SMS WebApp{% endblock %}
{% block body %}
{% load static %}



<!-- table code -->
<style>
.footbg{  
background: #16222A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
</style>


<!-- start -->

<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: rgba(0,0,0,0.3);">
<div class="container">


		<b>  <a class="navbar-brand" href="{% url 'view' %}"><img src="{% static 'img/logo.png' %}" class="d-inline-block align-top mt-1" height=50 width= 50 ></a></b>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<b><a class="nav-link mr-4" href="{% url 'view' %}">HOME </a></b>
				</li>

			</ul>
			<form method="get" action="{% url 'search' %}" class="form-inline my-2 my-lg-0">
				<input name="search" id="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" title="enter something for search">
				<button class="btn btn-outline-primary my-2 my-sm-0" type="submit" title="search">Search</button>
				
			</form>


</div>
</div>
</nav>




<div class="container">

<!-- start for portfolio -->
<br>
  <h1 class="my-5" style="color:white">Students <smal style="float:right;"><a href="{% url 'insert_student' %}" class="btn btn-primary" > + Add New Student </a></smal></h1>
	<i><h3 class="heading" style="color:red">{{ error }} </h3></i>
  <table class="table table-striped table-light">
    <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Roll No.</th>
			<th>Age</th>
      <th>Phone</th>

			<th>Address</th>

      <!-- <th>Status</th> -->
      <th>Action</th>
    </tr>
    </thead>



    {% for i in data.all %}
    <tbody>


    <tr>
      <td>{{ forloop.counter}}</td>
      <td>{{ i.name}}</td>
      <td>{{ i.roll}}</td>
			<td>{{ i.age}}</td>
			<td>{{ i.phone}}</td>
      <td>{{ i.address|slice:"0:50"}}...</td>

      <td>
				      <a href="{% url 'edit_student' i.std_id %}"><span class="btn btn-success"> Edit </span></a>
				        <a href="{% url 'delete_student' i.std_id %}" onclick="return confirm('Do you want to really delete?  `{{ i.name }}` ') ; "><span class="btn btn-danger">Delete</span></a>
    </td>

    </tr>

    </tbody>


    {% endfor %}

  </table><hr>
</div>

<!-- end for Portfolio -->
<footer class="text-muted footbg">            
  <div class="card-footer text-muted text-center">
    &copy;copyright  All Rights Reserved  {% now "Y"%} | Developed by Shrilekha
  </div>
</footer>



{% endblock %}
